{% set navigation_bar = [
    (url_for('index'), 'index', 'Home'),
    (url_for('product_index'), 'product_index', 'Products'),
    (url_for('about'), 'about', 'About'),
    (url_for('contact'), 'contact', 'Contact')
] -%}

<div class="container main-header text-center">
  <img id="main-logo" class="img-responsive" src="{{ url_for('static', filename='img/logo_svg.svg') }}" alt="Logo">
  <h1>Computers Inc.</h1>

  <hr class="small-margin">

  <ul class="nav nav-pills">
  {% for href, id, title in navigation_bar %}
    <li role="presentation">
      <a href="{{ href }}">{{ title }}</a>
    </li>
  {% endfor %}
  </ul>

  <hr class="small-margin">
</div>
